asgiref
backports.zoneinfo
cachetools
certifi
charset-normalizer
click
colorama
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Django
django-emoji
dnspython
Flask
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
importlib-metadata
isodate
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
protobuf
pyasn1
pyasn1-modules
pymongo
pyparsing
python-dateutil
pytz
requests
rsa
six
sqlparse
tenacity
tzdata
uritemplate
urllib3
Werkzeug
zipp
gunicorn
